<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BYPASS_TABLES" value=""/><!--跳過不同步的Table名稱清單,用逗號分開如:"TABLE_1,TABLE_2,TABLE_3",無則設空字串-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="SOURCE" connectionString="Password={sa密碼};Persist Security Info=True;User ID=sa;Initial Catalog={來源DB名稱};Data Source={來源主機名稱}" providerName="System.Data.SqlClient" />
    <add name="DESTINATION" connectionString="Password={sa密碼};Persist Security Info=True;User ID=sa;Initial Catalog={目的DB名稱};Data Source={目的主機名稱}" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>